html {
  font-size: 100%;
  height: 95%;
  background-color: #F5F7FA;
}
body {
  max-width: 80em;
  min-height: 100%;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: normal;
  margin: 0;
  word-wrap: break-word;
  background-color: white;
}

@media (max-width: 799px) {
  body {
    padding: 12px;
  }
}
@media (min-width: 800px) {
  html {
  }
  body {
    border: 1px solid #E6E9ED;
    border-radius: 8px;
    margin: 12px;
    padding: 12px;
  }
}


h1 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 0;
  margin-top: 15px;
  font-weight: bold;
  font-size: 2em;
}

body>header {
  border: 4px solid #7ea77c;
  margin-bottom: 4px;
  padding: 5px;
  border-radius: 7px;
}

body>header a.logo {
  float: left;
  width: auto;
  padding: 10px 13px 0 10px;
}

body>header a.logo .site_logo {
  background-image: url("../images/linuxgraphic.svg");
  background-size: 8em;
  background-repeat: no-repeat;
  display: inline-block;
  width: 150px;
  height: 52px;
}

body>header h1 a {
  color: #7ea77c;
  text-decoration: none;
  margin-right: 0;
}
body>header p {
  color: #7ea77c;
  line-height: 1.3em;
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 1.5em;
}

/* responsive nav css-only */
/* https://codepen.io/mutedblues/pen/MmPNPG */

.menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 14px 10px;
  position: relative;
  user-select: none;
}

.menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 5px;
}

.menu-icon .navicon:after {
  top: -5px;
}

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (max-width: 499px) {
  nav {
  }
  .menu {
    display: none;
  }
  .menu-btn:checked ~ .menu {
    display: block;
  }
  nav.menu ul {
    border-top: 1px solid #7ea77c;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav.menu ul li {
    border: 1px solid #7ea77c;
    border-top: 0;
    padding: 5px;
  }
}

@media only screen and (min-width: 500px) {
  .menu-icon,
  .menu-icon .navicon:before,
  .menu-icon .navicon:after {
    display: none;
    background: yellow;
  }

  nav {
    padding: 3px 10px;
    border-radius: 7px;
    margin-bottom: 1em;
    background-color: #d9e4d7;
  }

  nav.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav.menu ul li {
    display: inline-block;
    padding: 0;
    padding-right: 1em;
    padding-left: 1em;
    vertical-align: top;
    font-size: 1.1em;
    line-height: 2.2em;
  }

  nav.menu ul li.active {
    background-color: #eee;
  }
}

nav.menu a {
  color: #7ea77c;
  text-decoration: none;
}

nav.menu a:hover {
  color: #FF7200;
  text-decoration: underline;
}

/* </responsive nav css-only> */

footer {
  padding-top: 20px;
}

/* content */

h1,
h2,
h3 {
  color: #7ea77c;
}

h1 a,
h2 a,
h3 a {
  color: #7ea77c;
  text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover {
  color: #FF7200;
}

ul {
  padding-left: 10px;
}

/* accueil */

@media only screen {
  .boxes {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 499px) {
  .boxes .box {
    width: 100%;
  }
}

@media only screen and (min-width: 500px) {

  .boxes .box {
    border: 1px solid rgb(217, 228, 215);
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 639px) {
  .boxes .box {
    width: 49%;
  }
}

@media only screen and (min-width: 640px) {
  .boxes .box {
    width: 30%;
  }
}

.boxes .box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.boxes .box ul li {
  padding-top:2px;
}

.content a {
  color: #7ea77c;
  text-decoration:none;
}

.content a:hover {
  color: #FF7200;
  text-decoration: underline;
}

img.cover {
  width: 100%;
}

/* articles */

.comments ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.comments ul li {
}

.comments ul li:before {
  /*
  vertical-align: top;
  display:inline-block;
  */
  float: left;
  content: '';
  height:2em;
  width:2em;
  background-image: url("../images/comment.svg");
  background-size:contain;
  background-repeat:no-repeat;
  padding-left: 1em;
}

.comments a.header {
  color: #7ea77c;
  text-decoration:none;
}

.comments a.header:hover {
  color: #FF7200;
  text-decoration: underline;
}

.comments img {
  max-width: 400px;
}

/* category page */

ol#post-list {
  list-style-type:none;
  margin:0;
  padding:0;
}

ol#post-list>li {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #7ea77c;
}

ol#post-list img {
  max-width: 400px;
}

.video {
  position: relative;
  display: inline-block;
}

.video a.play {
  opacity: 0.4;
  width: 100%; height:100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  background-image: url("https://wptf.com/wp-content/uploads/2014/05/play-button.png");
  background-size: 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
}
